/*------------------------------------folder de pie de pagina----------------------------------------*/
.container-fooder{
    width: 100%;
    padding: 5px;
    background: #fff;
    
}

.container-fooder hr{
    border: none;
    height: 2px;
    background: #0f0c0c80;
}
.container-fooder h4{
    text-align:center;
    margin-top: 20px;
    color: #0201016c;
    font-weight: 500;
}