.tama{
    width: 32px;
    height: 32px;
    position: absolute;
    right: 25px;
    top: 32px;
    cursor: pointer;
    border-radius: 4px;
    overflow-y: auto;
}
.tama:hover{
    opacity: 50%;
}
.container-text{
    text-align: right;
}
.parraf {
   margin-left: 500px;
   margin-top: -800px;
   color: #0201016c;
  
}
#showmore{
    width: -500px;
   text-align: left;
    color: #0201016c;
}