.tama{
    width: 32px;
    height: 32px;
    position: absolute;
    right: 25px;
    top: 32px;
    cursor: pointer;
    border-radius: 4px;
    overflow-y: auto;
}

.tama:hover{
    opacity: 50%;
}
.container-text{
    text-align: center;
}
#showjjj{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    color: #0201016c;
}
#showmore{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    color: #0201016c;
}
#mamar{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    color: #0201016c;
}
#showjjj{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    color: #0201016c;
}
#Hawkeye-o{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    color: #0201016c;
}
#daredevil-o{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    color: #0201016c;
}
#spider-man{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    color: #0201016c;
}
#iron-man{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    color: #0201016c;
}
#hulk-lard{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    color: #0201016c;
}
#thort{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    color: #0201016c;
}
#wolverine-300{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    color: #0201016c;   
}
