.tama{
    width: 32px;
    height: 32px;
    position: absolute;
    right: 25px;
    top: 32px;
    cursor: pointer;
    border-radius: 4px;
    overflow-y: auto;
}
.tama:hover{
    opacity: 50%;
}
.container-text{
    text-align: center;
}

#showmore{
    width: -500px;
    text-align: left;
    color: #0201016c;
}
#mamar{
    width: -500px;
    text-align: left;
    color: #0201016c;
}
#showjjj{
    width: -500px;
    text-align: left;
    color: #0201016c;
}
#Hawkeye-o{
    width: -500px;
    text-align: left;
    color: #0201016c;
}
#daredevil-o{
    width: -500px;
    text-align: left;
    color: #0201016c;
}
#spider-man{
    width: -500px;
    text-align: left;
    color: #0201016c;
}
#iron-man{
    width: -500px;
    text-align: left;
    color: #0201016c;
}
#hulk-lard{
    width: -500px;
    text-align: left;
    color: #0201016c;
}
#thort{
    width: -500px;
    text-align: left;
    color: #0201016c;
}
#wolverine-300{
    width: -500px;
    text-align: left;
    color: #0201016c;   
}
.lollalal{
    margin-top: -260px;
    margin-left: 270px;
}
.popap-img{
    margin-right: -150px;
}